{% extends 'mainsite/base.html' %}

{% block content %}

<div class="jumbotron text-center bg-white">
  <h5 class="p-4 m-4"><code class="text-dark">PHEEGA MADIGA</code></h5>  
</div>


<div class="jumbotron text-center">
    <h5 class="p-4 m-4"><code class="text-dark">DEVELOPER &amp; GRAPHIC DESIGNER</code></h5>
</div>
    
    
<div class="jumbotron text-center bg-white">
  <h5 class="p-4 m-4"><code class="text-dark">BASED IN JOHANNESBURG, SOUTH AFRICA.</code></h5>  
</div>


<div class="jumbotron text-center">
    <h5 class="p-4 m-4"><code class="text-dark">ALONG PROGRAMMING &amp; DESIGNING</code></h5>
</div> 


<div class="jumbotron text-center bg-white">
  <h5 class="p-4 m-4"><code class="text-dark">I'M A FORENSIC SCIENTIST &#40;deprecated&#41; </code></h5>  
</div>


<div class="jumbotron text-center">
    <h5 class="p-4 m-4"><code class="text-dark">&amp; AN AVID READER.
    <a href="#" class="btn btn-outline-success m-2">MY LIBRARY</a></code></h5>
</div> 


<div class="jumbotron text-center bg-white">
    <h5 class="p-4 m-4"> <a href="mailto: pheega@pheeqa.com" type="button" class="btn btn-outline-success m-2">AVAILABLE</a><code class="text-dark">TO TAKE IN NEW PROBLEMS&#33;</code></h5>
</div> 
{% endblock content %}